
<header>
    
    <% if (user) {%>
        <h1>Welcome user: <%= user.email %></h1>
        <form method='POST' action= '/logout'> 
            <div class='form-group mb-2'>
                <button type='submit' class = 'btn btn-primary'>Logout</button>
            </div>
        </form> 
        <%} else {%>
            <a href='/register'>Register</a> |
            <a href = '/login'>Login</a>
        <%} %>

</header>