<% include ./partials/_header %>

<h2>Login to Tiny URL</h2>

<form class="form-inline" action="/login " method="POST">
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 300px; margin: 1em">

    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Enter password" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</html>