<% include ./partials/_header %>

<h2>Login to Tiny URL</h2>

<form class="form" action="/login " method="POST">
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 300px; margin: 1em">
    </div>
    <div class="form">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Enter password" style="width: 300px; margin: 1em">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

</html>